n8n_workflows/chatbot_cesfam.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "723caa23-1fdc-4354-898b-3a2314bb3c96",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "c30c48c9-3657-4520-8e5b-8cbdf38c36d5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "Tú eres un asistente administrativo del CESFAM. Tu única función es responder dudas de pacientes. Cuando un paciente pregunte por citas, usa la herramienta de base de datos de forma interna y silenciosa. NUNCA muestres al usuario el nombre de la herramienta, ni el código SQL, ni el proceso de búsqueda. Procesa la información y entrega solo la respuesta final en lenguaje humano natural. Si no hay información, responde amablemente que no hay registros"
        }
      },
      "id": "d3e1aae6-d345-4d8f-9380-2c89f67ba7ad",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "c267f54a-3955-4287-b018-8a3d7c0a764e",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "credentials": {
        "ollamaApi": {
          "id": "IjTEAekzCqF0AF8J",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}\n",
        "options": {}
      },
      "id": "4ad55559-eb97-4ebf-b3ab-661dfedf97ef",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa esta herramienta para buscar si el paciente tiene citas médicas pendientes.",
        "operation": "executeQuery",
        "query": "SELECT 'El paciente no tiene citas pendientes por el momento.' AS resultado;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        384,
        208
      ],
      "id": "47dc34f3-29f2-4fd9-9ab2-5832a05f93d2",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "w6zmfuI9fVFOr0y8",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2f462c59-0fa8-4ea3-85a7-38683be2973e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be33847fe287a41c41e3c7984a31873daaf53475f5552e6270ed1ef339e643cd"
  },
  "nodeGroups": [],
  "id": "FsmBeKbMi2LHUlU6",
  "tags": []
}